<div class="p-4 bg-primary-500 color-gray-900">
  <h1 class="text-3xl font-semibold">{{ 'ACTIVITIES.BREADCRUMB.DETAIL' | translate }}</h1>
</div>

<p-breadcrumb [model]="breadcrumbItems()" [home]="breadcrumbHome" />

<div class="p-4">
  @if (activity(); as currentActivity) {
    <p>{{ currentActivity.title }}</p>

    @if (canRegister()) {
            @if (currentActivity.isRegistered) {
        <p>Inscrit le: {{ currentActivity.registeredAt || '-' }}</p>
        <button type="button" (click)="onUnregister()" [disabled]="isSubmitting()">
          Se désinscrire
        </button>
      } @else {
        <button type="button" (click)="onRegister()" [disabled]="isSubmitting()">
          S'inscrire
        </button>
      }
    }


  } @else {
    <p>Chargement de l'activité...</p>
  }
</div>
